@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}



button{
  margin: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: rgb(88, 118, 250); 
  color: rgb(235, 232, 232);
}

button:hover{
  background-color: rgb(242, 240, 240);
  color: black;
}

h1{
  
  font-weight: bold;
  gap: 0;
  background: linear-gradient(to left, #8eb3fc, #91eef1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}



.img-container {
  
  break-inside: avoid;
  margin: 4px;
  padding: 1px;
  gap: 2px;
  display: flex;
  flex-direction: column;
}

